#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.chat-palette-label {
  text-align: left;
}

.iyasaka-equipments-db {
  display: flex;
  justify-content: space-between;
}

.clearing, .sneaking, .tamayura, .iyasaka-equipments {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

select {
  width: 25%;
}

.read-the-docs {
  color: #888;
}
